body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

* {
  align-items: center;
  justify-content: center;
  text-align: center;
}

Nav ul {
  line-height: 120px;
  display: flex;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  list-style: none;
  height: 7rem;
}

Nav li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-nav img {
  height: 70px;
  width: auto;
  margin-top: 3rem;
}

.main-nav a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  margin: 50px;
}

.main button {
  grid-column: 1 / span 2;
  justify-self: start;
}

main p {
  width: 300px;
  padding: 20px;
  margin: auto;
  text-align: left;
}

main > div > h1 {
  color: #f4ce14;
  font-size: 64px;
  font-family: Markazi;
  font-weight: medium;
}

main > div > h2 {
  font-size: 40px;
  font-family: Markazi;
  font-weight: regular;
}

main > div > button {
  border-radius: 16px;
  background-color: #f4ce14;
  width: 195px;
  height: 46px;
  font-size: 18px;
}

.food {
  position: relative;
  width: 300px;
  height: 200px;
}

.food img {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}

aside {
  background: #EDEFEE;
}

.aside > h1 {
  font-size: 64px;
  font-family: Markazi;
  font-weight: medium;
}

.aside > button {
  border-radius: 16px;
  background-color: #f4ce14;
  width: 195px;
  height: 46px;
  font-size: 18px;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer h2 {
  text-align: center;
  word-break: break-word;
}

.footer img {
  height: 100px;
  width: auto;
  margin-bottom: 3rem;
}

.footer li {
  margin-left: 1rem;
  margin-right: 1rem;
}

footer ul {
  line-height: 1.5rem;
  color: black;
  background-color: white;
  font-weight: bold;
  list-style: none;
  height: 1rem;
  text-align: center;
}

.part-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  display: flex;
  width: 200px;
  height: 100px;
  margin: 12rem;
  gap: 5rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Media Query for Responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

