ul {
  line-height: 120px;
  display: flex;
  color: black;
  background-color: white;
  color: black;
  font-weight: bold;
  list-style: none;
  height: 7rem;
}

li {
  margin-left: 1rem;
  margin-right: 1rem;


}

.main-nav a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.5fr; /* First column for content, second column for image */
  align-items: center; /* Align items vertically */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  margin: 50px;
  }

.main {
  grid-column-start: 1; /* Position the content in the first column */
}

.main button {
  grid-column: 1 / span 2; /* Span across both columns */
  justify-self: start; /* Align the button to the left */
}

main p {
  width: 300px;
  padding: 20px;
  margin: auto;
  text-align: left;
}
main > div > h1 {
  color: #f4ce14;
  font-size: 64px;
  font-family: Markazi;
  font-weight: medium;
}

main > div > h2 {
  font-size: 40px;
  font-family: Markazi;
  font-weight: regular;
}
main > div> button {
  border-radius: 16px;
  background-color: #f4ce14;
  width: 195px;
  height: 46px;
  font-size: 18px;
}

.food {
  position: relative;
  width: 300px; /* Set the width of the frame */
  height: 200px; /* Set the height of the frame */
}

.food img {
  position: absolute;
  top: 70%; /* Adjust the vertical position */
  left: 100%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%); /* Center the image */
}

aside {
  background:#EDEFEE
}
.aside > h1 {
  font-size: 64px;
  font-family: Markazi;
  font-weight: medium;
}

.aside >  button {
  border-radius: 16px;
  background-color: #f4ce14;
  width: 195px;
  height: 46px;
  font-size: 18px;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
